services:
  Genres.controllers.TheMovieDatabaseGenresController:
    class: ../../../scripts/themoviedatabase/controllers/genres/TheMovieDatabaseGenresController
    arguments: ["@Genres.services.GenresGetter", "@Genres.services.GenresPersister"]

  Genres.controllers.GenrePutController:
    class: ../../../modules/genres/controllers/GenrePutController
    arguments: ["@Genres.services.GenreCreator"]

  Genres.services.GenresGetter:
    class: ../../../scripts/themoviedatabase/services/genres/GenresGetter
    arguments: []

  Genres.services.GenresPersister:
    class: ../../../scripts/themoviedatabase/services/genres/GenresPersister
    arguments: ["@Genres.services.GenreCreator"]

  Genres.services.GenreCreator:
    class: ../../../modules/genres/services/GenreCreator
    arguments: ["@Genre.repositories.GenreRepository"]

  Genre.repositories.GenreRepository:
    class: ../../../modules/genres/persistence/mongoose/MongooseGenreRepository
    arguments: ['@Shared.ConnectionManager']
